{{ form_start(form, {'attr': {'class': 'space-y-4 bg-white p-6 rounded-md shadow-md'}}) }}
    <div class="field mb-4">
        <label class="label text-gray-700" for="date">
            {{ form_label(form.date) }}
        </label>
        <div class="control">
            {{ form_widget(form.date, {'attr': {'class': 'input border-gray-300 p-2 rounded-md'}}) }}
        </div>
    </div>
        <div class="field mb-4">
        <label class="label text-gray-700" for="completed">
            {{ form_label(form.completed) }}
        </label>
        <div class="control">
            <label class="checkbox">
                {{ form_widget(form.completed, {'attr': {'class': 'form-checkbox h-5 w-5 text-blue-500'}}) }}
            </label>
        </div>
    </div>
    <div class="field mb-4">
        <label class="label text-gray-700" for="training_plan_x_machine_id">
            {{ form_label(form.training_plan_x_machine_id) }}
        </label>
        <div class="control">
            {{ form_widget(form.training_plan_x_machine_id, {'attr': {'class': 'input border-gray-300 p-2 rounded-md'}}) }}
        </div>
    </div>

    <div class="field">
        <div class="control">
            <button class="button is-link bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">{{ button_label|default('Save') }}</button>
        </div>
    </div>
{{ form_end(form) }}