{{ form_start(form) }}
    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="date">
            {{ form_label(form.date) }}
        </label>
        {{ form_widget(form.date, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
    </div>
    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="completed">
            {{ form_label(form.completed) }}
        </label>
        {{ form_widget(form.completed, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
    </div>
    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="training_plan_x_machine_id">
            {{ form_label(form.training_plan_x_machine_id) }}
        </label>
        {{ form_widget(form.training_plan_x_machine_id, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
    </div>

    <button class="button is-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}