{% extends 'base.html.twig' %}

{% block title %}Person{% endblock %}

{% block body %}
    <main class="pt-20 bg-gray-100 min-h-screen pb-16">
        <div class="container mx-auto px-4">
            <h1 class="text-3xl font-bold mb-4 text-center">Member {{ person.name }}</h1>

            <div class="box bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                <table class="table-auto w-full">
                    <tbody>
                        <tr class="text-center">
                            <th class="px-4 py-2 border-b border-gray-200 bg-gray-100">Id</th>
                            <td class="border-b border-gray-200 px-4 py-2">{{ person.id }}</td>
                        </tr>
                        <tr class="text-center">
                            <th class="px-4 py-2 border-b border-gray-200 bg-gray-100">Name</th>
                            <td class="border-b border-gray-200 px-4 py-2">{{ person.name }}</td>
                        </tr>
                        <tr class="text-center">
                            <th class="px-4 py-2 border-b border-gray-200 bg-gray-100">Height</th>
                            <td class="border-b border-gray-200 px-4 py-2">{{ person.height }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="flex justify-between mt-4 mb-4">
                <a class="button is-link px-4 py-2" href="{{ path('app_person_index') }}">Back to list</a>
                <a class="button is-success px-4 py-2" href="{{ path('app_person_edit', {'id': person.id}) }}">Edit</a>
                {{ include('person/_delete_form.html.twig') }}
            </div>

            <h2 class="text-2xl font-bold mb-4 mt-8 text-center">Related Training Plans</h2>
            <div class="box bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                {% if person.trainingPlans is not empty %}
                    <table class="table-auto w-full">
                        <thead>
                            <tr class="text-center">
                                <th class="px-4 py-2">Id</th>
                                <th class="px-4 py-2">Name</th>
                                <th class="px-4 py-2">Description</th>
                                <th class="px-4 py-2">Weekday</th>
                                <th class="px-4 py-2">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for trainingPlan in person.trainingPlans %}
                            <tr class="text-center">
                                <td class="border px-4 py-2">{{ trainingPlan.id }}</td>
                                <td class="border px-4 py-2">{{ trainingPlan.name }}</td>
                                <td class="border px-4 py-2">{{ trainingPlan.description }}</td>
                                <td class="border px-4 py-2">{{ trainingPlan.weekday }}</td>
                                <td class="border px-4 py-2">
                                    <a class="button is-small is-link" href="{{ path('app_training_plan_edit', {'id': trainingPlan.id}) }}">Edit</a>
                                    <form method="post" action="{{ path('app_training_plan_delete', {'id': trainingPlan.id}) }}" style="display: inline-block;">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trainingPlan.id) }}">
                                        <button class="button is-small is-danger">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No related training plans.</p>
                {% endif %}
            </div>

            <h2 class="text-2xl font-bold mb-4 mt-8 text-center">Related Weight Histories</h2>
            <div class="box bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                {% if person.weightHistories is not empty %}
                    <table class="table-auto w-full">
                        <thead>
                            <tr class="text-center">
                                <th class="px-4 py-2">Id</th>
                                <th class="px-4 py-2">Date</th>
                                <th class="px-4 py-2">Weight</th>
                                <th class="px-4 py-2">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for weightHistory in person.weightHistories %}
                            <tr class="text-center">
                                <td class="border px-4 py-2">{{ weightHistory.id }}</td>
                                <td class="border px-4 py-2">{{ weightHistory.date ? weightHistory.date|date('Y-m-d') : '' }}</td>
                                <td class="border px-4 py-2">{{ weightHistory.weight }}</td>
                                <td class="border px-4 py-2">
                                    <a class="button is-small is-link" href="{{ path('app_weight_history_edit', {'id': weightHistory.id}) }}">Edit</a>
                                    <form method="post" action="{{ path('app_weight_history_delete', {'id': weightHistory.id}) }}" style="display: inline-block;">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ weightHistory.id) }}">
                                        <button class="button is-small is-danger">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No related weight histories.</p>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}