{{ form_start(form) }}
    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
            {{ form_label(form.name) }}
        </label>
        {{ form_widget(form.name, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
    </div>
    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="description">
            {{ form_label(form.description) }}
        </label>
        {{ form_widget(form.description, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
    </div>
    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="weekday">
            {{ form_label(form.weekday) }}
        </label>
        {{ form_widget(form.weekday, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
    </div>
    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="person_id">
            {{ form_label(form.person_id) }}
        </label>
        {{ form_widget(form.person_id, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
    </div>

    <button class="button is-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}