{% extends 'base.html.twig' %}

{% block title %}TrainingPlan{% endblock %}

{% block body %}
    <h1>TrainingPlan</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ training_plan.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ training_plan.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_training_plan_index') }}">back to list</a>

    <a href="{{ path('app_training_plan_edit', {'id': training_plan.id}) }}">edit</a>

    {{ include('training_plan/_delete_form.html.twig') }}
{% endblock %}
